// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 16px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: white;

$v-app-loading-text: "Bitte warten, CRM System wird geladen.";

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
$v-focus-color:#8c0011; //valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin CCM_Theme {
  @include valo;
 
  // Insert your own theme rules here
  
//Button Styling
.v-button{

	border: none;
	background: #323D43; //dunkelgrau wie auf der Homepage
	color: #dcdfe0;
	font-weight:bold;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	padding:0;
	
  
  
}
.v-button-caption{
 	font-size: 12pt;
    font-weight: bold;
    font-color: #dcdfe0;
}
.v-button-navi{
background-color:#5d6a72;
color: #dcdfe0;
font-color: #dcdfe0;
font-weight:bold;
}

.v-button-caption-navi{
	font-size: 12pt;
    font-weight: bold;
    font-color: #dcdfe0;
    text-align: left;

}
.v-button:focus -v-button-wrap{
	background: red;
	boxshadow:black;

}
.v-button:active .v-button-wrap{
} 
//Native-Button Styling
.v-nativebutton-btnwhite{
	border:none;
	background-color:white;
	background:white;
	width:50px;
	font-weight:bold;
	font-color:black;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	padding:0;
	
}  
  
.v-nativebutton-btnwhite .v-nativebutton-caption{
	font-size: 12pt;
	font-weight:bold;
	font-color:#5d6a72;   //dunkelgrau
	
} 


//Panel Header Style
.v-panel-pnheader{
  max-height: 120px;
  background: white;
  width: 100%;
  padding:0px 0px 0px 0px;
  margin:0;
  overflow:hidden;

}



//Textfield Style
.v-textfield{
color: black
}

//Table Style
.base .v-table-drag .v-table-body{
border-color: white;
text-decoration:none;
}

//Label Style
.v-label{

color:black;
margin: 0px 0px 5px 0px;
width: -1;

} 

//Calendar Style
.v-calendar-times{
width: 51 px;
}
.v-calendar-time{

text-align:right;
color:000;
border-right: 1px solid;


}
.v-calendar{
 min-height:200px;
 min-weight: 100%;
 background:white;
 overflow:hidden;


}


.v-calendar-current-time{
overflow: hidden;
background:#e00019;

}
.v-calendar-month-day-selected{

background-color: #7b858c;
}

.v-calendar-month-day-today{
background-color: #e00019;


}


.v-calendar-header-day-today{
color:#e00019;
font-weight: bold;
}

.v-calendar-event-month::before, v.overlay-container{
content: " ";
margin-right: 2px;

}
// Noch unvollst�ndig Styling der Ereignisse nach f�lligkeit
.v-calendar-event-month::before,  v.overlay-container{
 content: " ";
 margin-right: 2px;
}
.v-calendar-event-geplant-month::before, v.overlay-container{
content:"-";
margin-right:2px;
}
.v-calendar-event-month-besucht::before, v.overlay-container{
content:"";  //Häckchen?
margin-right:2px;
}

//Eventanzeige in der Monatsansicht
.v-calendar-event-geplant{
background:#5d6a72;
color:white;

}
.v-calendar-event-geplant-all-day{
background:#5d6a72;
color:white;
}


.v-calendar-event-besucht{
background:white ;
color:black;	
	
}

.v-calendar-event-besucht-all-day{
background:white;
color:black;	
	
}

//Tabsheet Style
.v-tabsheet-tabsheetpanel{
overflow:hidden;
height:-1px;
width:-1px;
min-height:300px;

}

}

