// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 16px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: #fff; 

// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: #fff;
$v-selection-overlay-background-color: #fff;

//Zusatzstyling
$v-overlay-shadow: 0 0 0 2px #fff;

$v-app-loading-text: "Bitte warten. Das Company Contact Management System wird geladen.";

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
$v-focus-color:#8c0011; //dunkelrot
$v-friendly-color: #7F7F7F; //grau
$v-error-indicator-color: #c4272d;//rot

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin CCM_Theme {
 @include valo;
 
  // Insert your own theme rules here
.v-textarea-taarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	margin: 0;
	font: inherit;
	
	font-weight: 400;
	line-height: normal;
	height: 37px;
	border-radius: 4px;
	padding: 6px;
	border: 1px solid #c9c9c9;
	background: white;
	color: #474747;
	-webkit-box-shadow: inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 #f7f7f7, 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-transition: box-shadow 180ms, border 180ms;
	-moz-transition: box-shadow 180ms, border 180ms;
	transition: box-shadow 180ms, border 180ms;
	height: auto;
	resize: none;
	white-space: pre-wrap;
	width:300px; 
  
  }
//TODO: rausnehmen
.responsive-layout[width-range~="0-300"]{
	} 
.responsive-layout[width-range~="300-700"]{
	}  
.responsive-layout[width-range~="700-"]{
	}
//CSS Layout
.v-csslayout {
	width:300px;
	height:-1px;
}
.v-csslayout[width-range~="0-400"]{
	width:300px;
	}
.v-csslayout[width-range~="400-700"]{
	width:500px;
	}	
.v-csslayout[width-range~="700-"]{
	width:600px;
	}


//CostumComponent
.v-customcomponent-cclayout{
	width:300px;
	}

.v-customcomponent-cclayout[width-range~="0-400"]{
	width:400px;
	}
.v-customcomponent-cclayout[width-range~="400-700"]{
	width:600px;
	}
.v-customcomponent-cclayout[width-range~="700-"]{
	width:900px;
	}

.v-window-pwwindow {
	width:400px;
	height:500px;
}
.v-window-pwwindow [width-range~="0-400"]{
	width:400px;
	height:500px;
}
.v-window-pwwindow [width-range~="400-700"]{
	width:550px;
	height:500px;
}
.v-window-pwwindow [width-range~="700-"]{
	width:650px;
	height:500px;
}
//Panel Header Style
.v-panel-pnheader{
  max-height:120px;
  background:white;
  width: 100%;
  padding:0px 0px 0px 0px;
  margin:0;
  overflow:hidden;

}


.v-panel-pnheader{
	.smalllogo, .biglogo, .ccmbiglogo, .ccmsmalllogo{
		padding:5px;
		margin:0px;
		background: white;
	}

	.biglogo, .ccmbiglogo{
			height:75px;
			}
	.biglogo{
		width:360px;
		}
	.ccmbiglogo{
		width:146px;
		}
	.smalllogo, .ccmsmalllogo{
		height:31px;
		}
	.smalllogo{
		width:150px;
		}
	.ccmsmalllogo{
		width:60px;
		}
}

.v-panel-pnheader[width-range~="0-800"]{
	height: 32px;
	.biglogo, .ccmbiglogo{
	 display:none;
	 height:0px;
	 width:0px;}
	 
	
	}
.v-panel-pnheader[width-range~="800-"]{
	height: 40px;
	.smalllogo, .ccmsmalllogo{
	display:none;
	height:0px;
	width:0px;
	}
}

.v-panel-pnviews{
	padding: 0, 0, 0, 30px;
	}


//Horizontal Layout Stylerules
.v-horizontal-hllogin{
	width:300px;
	}
.v-horizontal-hllogin[width-range~="0-400"]{
	width:300px;
	}
	
.v-horizontal-hllogin[width-range~="400px-700"]{
	width:500px;
	}
.v-horizontal-hllogin[width-range~="700-"]{
	width:600px;
	}
//Vertical Layout Stylerules
.v-vertical-vlfelder{ 
	width:300px;
	}
.v-vertical-vlfelder[width-range~="0-400px"]{ 
	width:400px;
	}
.v-vertical-vlfelder[width-range~="400-700"]{ 
	width:600px;
	}

.v-vertical-vlfelder[width-range~="700-"]{ 
	width:800px;
	}
  
  
//Vertical-vl WindowPWChanger
.v-vertical-vlwindow{ 
	width:350px;
	height:500px;
	}
.v-vertical-vlwindow[width-range~="0-400"]{ 
	width:450px;
	height:500px;
	}
.v-vertical-vlwindow[width-range~="400-700"]{ 
	width:650px;
	height:500px;
	}

.v-vertical-vlwindow[width-range~="700-"]{ 
	width:850px;
	height:500px;
	}  
  
  
  
//Button Styling
.v-button{

	border: none;
	background:#323D43; //dunkelgrau wie auf der Homepage
	color:#dcdfe0;
	font-weight:bold;
	cursor: pointer;
	white-space: nowrap;
	margin: 3px 6px 3px;
	padding:4px;
	
  
  
}
.v-button[width-range~="0-400"]{
	width:300px;
	}
.v-button[width-range~="400-700"]{
	width:500px;
	}
.v-button[width-range~="700- "]{
	width:600px;
	}
.v-button-login[width-range~="0-400"]{
	width:100%;
	}
.v-button-login[width-range~="400-"]{
	width:100%;
	}
.v-button-naviother{
	width:200px;
	}
.v-button-naviother[width-range~="0-400"]{
	width:200px;
	}
.v-button-naviother[width-range~="400-"]{
	width:90%;
	}
//TODO: Schriftgröße an Buttongröße anpassen
.v-button-caption{
 	font-size: 12pt;
    font-weight: bold;
    font-color: #dcdfe0;
    padding:0px 0px 0px 0px;
}

.v-button-navi[width-range~="0-400"]{
	background-color:#5d6a72;
	color: #dcdfe0;
	font-color: #dcdfe0;
	font-weight:bold;
	text-align:left;
	padding: 6px 6px 6px 6px;
	width:200px;
	
}
.v-button-navi[width-range~="400-"]{
background-color:#5d6a72;
color: #dcdfe0;
font-color: #dcdfe0;
font-weight:bold;
text-align:left;
padding: 6px 6px 6px 6px;
width:90%;
	
}
.v-button .v-icon{
	//vertical-align:right;
	margin-right:3px;
	border:none;
	}
.v-button-navi-wrap .v-button-navi-caption{
	font-weight:bold;
    font-color:#dcdfe0;
    text-align:left;
	padding:6px 6px 6px 0px;
}
.v-button-navi-wrap .v-button-navi-caption[width-range~="0-400"]{
	font-size:10pt;
    font-weight:bold;
    font-color:#dcdfe0;
    text-align:left;
	padding:6px 6px 6px 0px;
}

.v-button-navi-wrap .v-button-navi-caption[width-range~="400-"]{
	font-size:16pt;
    font-weight:bold;
    font-color:#dcdfe0;
    text-align:left;
	padding:6px 6px 6px 0px;
}

	}
//Während der Button angeclickt ist = focus; greifen für alle Buttons die folgenden Styling Regeln:
.v-button:focus .v-button-wrap{

	color:black;
	boxshadow:black;

}
.v-button:active .v-button-wrap{
} 
//Native-Button Styling
.v-nativebutton-btnwhite{
	border:none;
	background:white;
	background-color:white;
	width:50px;
	font-weight:bold;
	font-color:black;
	cursor: pointer;
	white-space: nowrap;
	margin:0;
	padding:0;
	
}  
  
.v-nativebutton-btnwhite .v-nativebutton-caption{
	font-size: 12pt;
	font-weight:bold;
	font-color:#5d6a72;   //dunkelgrau
	
} 

.v-nativebutton-btnwhiteeins{
	border:none;
	border-color:white;
	background:white;
	background-color:white;
	width:-1px;
	font-weight:bold;
	font-color:black;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	padding:0;
	
}  
  
.v-nativebutton-btnwhiteeins .v-nativebutton-caption{
	font-size: 12pt;
	font-weight:bold;
	font-color:#5d6a72;   //dunkelgrau
	
} 
//Momentan nicht verwendet.
.v-button-btnwhitelogo{
	border:none;
	background-color:white;
	background:white;
	width:100%;
	font-weight:bold;
	font-color:white;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	padding:6px;
	
}  
  
.v-button-btnwhitelogo .v-button-caption{
	font-size: 12pt;
	font-weight:bold;
	font-color:white;   
	
} 
.v-button-btnwhitelogo .v-button-icon{
	border:none;
	width:100%;
	color:white;
	
} 




//Textfield und PasswordField nutzen denselben default Stylename
.v-textfield-tffield{
	color:black
	background-color: white;
	width:300px;
}
.v-textfield-tffield[width-range~="0-400"]{
	width:300px;


}
.v-textfield-tffield[width-range~="400-700"]{
	width:500px;
}

.v-textfield-tffield[width-range~="700-"]{
	width:600px;
	}

.v-textarea{
	color:black
	background-color: white;
	width:300px;
}
.v-textarea[width-range~="0-400"]{
	width:300px;


}
.v-textarea[width-range~="400-700"]{
	width:500px;
}

.v-textarea[width-range~="700-"]{
	width:600px;
	}

//Table Style
.base .v-table-drag .v-table-body{
	border-color: white;
	text-decoration:none;
	color:black
	background:white;
}

.v-table-header{
	background:#5d6a72; 
	color:white;
	font-weight: bold;
	font-size: 12pt;	
}	
.v-table-body{
	background-color:white;
	background:white;
	color:black;
}
.v-table-row.v-table-row,
.v-table-row-odd.v-table-row {
 	background-color:white;
  	background:white;
  	color:black;
}

.v-table-cell-wrapper{
	white-space:normal;
	}
//Label Style
.v-label{
color:black;
margin:0px 10px 5px 10px;
padding:0px 20px 0px 20px;
width:50%;
text-align:center;
} 

//Calendar Style
.v-calendar-times{
	width: 51 px;
}
.v-calendar-time{
	text-align:right;
	color:000;
	border-right: 1px solid;


}
.v-calendar{
 	min-height:200px;
	min-weight: 100%;
	background:white;
	overflow:hidden;
}


.v-calendar-current-time{
overflow: hidden;
background:#e00019;

}
.v-calendar-month-day-selected{

background-color: #7b858c;
}

.v-calendar-month-day-today{
background-color: #e00019;


}


.v-calendar-header-day-today{
color:#e00019;
font-weight: bold;
}

.v-calendar-event-month::before, v.overlay-container{
content: " ";
margin-right: 2px;

}
// Noch unvollst�ndig Styling der Ereignisse nach f�lligkeit
.v-calendar-event-month::before,  v.overlay-container{
 content: " ";
 margin-right: 2px;
}
.v-calendar-event-geplant-month::before, v.overlay-container{
content:"-";
margin-right:2px;
}
.v-calendar-event-besucht-month::before, v.overlay-container{
content:"";  
margin-right:2px;
}

//Eventanzeige in der Monatsansicht
.v-calendar-event-geplant{
background:#5d6a72;
color:white;

}
.v-calendar-event-geplant-all-day{
background:#5d6a72;
color:white;
}


.v-calendar-event-besucht{
background:#dcdfe0;
color:black;	
	
}

.v-calendar-event-besucht-all-day{
background:#dcdfe0;
color:black;	
	
}

//Tabsheet Style
.v-tabsheet{
	padding: 0px, 0px, 0px, 50px;
	margin: 0px, 0px, 0px, 50px;
	}
.v-tabsheet[width-range~="0-400"]{
	padding: 0px, 0px, 0px, 50px;
	}
.v-tabsheet[width-range~="400-700"]{
	padding: 0px, 0px, 0px, 100px;
	margin: 0px, 0px, 0px, 100px;
	}
.v-tabsheet[width-range~="700-"]{
	padding: 0px, 0px, 0px, 100px;
	}
.v-tabsheet-tabsheetpanel{
overflow:hidden;
height:-1px;
width:-1px;
min-height:300px;

}
//Combobox und Checkbox

.valo-textfield-prompt-style{
	background-color: white;
	}
.v-filterselect, .v-checkbox, .v-select, .v-select-optiongroup{ 
 width:300px;
}
.v-filterselect[width-range~="0-400"], .v-checkbox[width-range~="0-400"], .v-select[width-range~="0-400"],
	 .v-select-optiongroup[width-range~="0-400"]{ 
 width:300px;
}
.v-filterselect[width-range~="400-700"], .v-checkbox[width-range~="400-700"], .v-select[width-range~="400-700"]
	, .v-select-optiongroup[width-range~="400-700"]{ 
 width:500px;
}
.v-filterselect[width-range~="700-"], .v-checkbox[width-range~="700-"], .v-select[width-range~="700-"] 
	, .v-select-optiongroup[width-range~="700-"]{ 
 width:600px;
}
 .select.v-select-select {
    background-color:#8c0011; 
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0px 0 0; 
    background:#8c0011;
}
 
 
}

